.footerContainer {
  margin-top: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 1.5em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.footerContainer:after {
  content: '';
  border-right: 2px solid var(--theme-color);
  order: -1;
  height: 50%;
}

.copyrightText {
  font-weight: 200;
  font-size: 14px;
  order: -1;
  margin-left: auto;
}

.icons {
  display: flex;
  gap: 10px;
  margin-right: auto;
}

.icon {
  width: 26px;
  height: 26px;
  fill: var(--theme-color);
  transition: fill 0.2s;
}